<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :ambient_before %>
    <%= form.text_field :ambient_before %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= time_select :session, :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= time_select :session, :end_time  %>
  </div>

  <div class="field">
    <%= form.label :wind_direction %>
    <%= form.text_field :wind_direction %>
  </div>

  <div class="field">
    <%= form.label :wind_speed %>
    <%= form.text_field :wind_speed %>
  </div>

  <div class="field">
    <%= form.label :weather %>
    <%= form.text_field :weather %>
  </div>

  <div class="field">
    <%= form.label :temp %>
    <%= form.text_field :temp %>
  </div>

  <div class="field">
    <%= form.label :humidity %>
    <%= form.text_field :humidity %>
  </div>

  <div class="field">
    <%= form.label :barometer %>
    <%= form.text_field :barometer %>
  </div>

  <div class="field">
    <%= form.label :reader %>
    <%= form.text_field :reader %>
  </div>

  <div class="field">
    <%= form.label :recorder %>
    <%= form.text_field :recorder %>
  </div>

  <div class="field">
    <%= form.label :field_calibration_time %>
    <%= form.text_field :field_calibration_time %>
  </div>

  <div class="field">
    <%= form.label :battery_level %>
    <%= form.text_field :battery_level %>
  </div>

  <% if session.group_id.nil? %>
  <div class="field">
    <%= form.label :group_id %>
    <%= form.text_field :group_id %>
  </div>
  <% else %>
      <%= form.hidden_field :group_id unless session.group_id.nil? %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
