<p id="notice"><%= notice %></p>

<h1>Readings</h1>

<div data-controller='input'>
	<table class="todo__items"  data-js="todoItems" data-target="input.table">
		<th>Number</th>
		<th>Readings</th>
		<th>Class</th>
	</table>
	<form action="" method="POST" data-js="todoForm" >
			<ul>
				<li>
					<label>Number</label>
					<input type="number" name="number" placeholder="042" data-action="keypress->input#form" data-target='input.number input.input' required />
				</li>
				<li>
					<label>Reading</label>
					<input type="number"  name="reading" placeholder="042" data-action="keypress->input#form" data-target='input.input' />
				</li>
				<li>
					<label>Class</label>
					<input type="text"  name="class" placeholder="042" data-action="keypress->input#form" data-target='input.input' />
				</li>
			</ul>
	</form>
</div>

<%= link_to 'Create Reading', new_reading_path(session: @session.id) %>

<p>
  <strong>Group:</strong>
  <%= link_to @session.group.name, group_path(@session.group.id) %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
