<p id="notice"><%= notice %></p>

<dl>
  <dt>Track:</dt>
  <dd><%= @session.group.event.track %></dd> 

  <dt>Session:</dt>
  <dd><%= @session.name %></dd> 

  <dt>Session Start: <dt>
  <dd><%= @session.start_time %></dd>

  <dt>End:</dt>
  <dd><%= @session.end_time %></dd> 

  <dt>Region:</dt>
  <dd><%= @session.group.event.region %></dd> 

  <dt>Temprature:</dt>
  <dd><%= @session.temp %></dd> 

  <dt>Humidity:</dt>
  <dd><%= @session.humidity %></dd> 

  <dt>Barometer:</dt>
  <dd><%= @session.barometer %></dd> 

  <dt>Weather:</dt>
  <dd><%= @session.weather %></dd> 

  <dt>Wind Speed:</dt>
  <dd><%= @session.wind_speed %></dd> 

  <dt>Wind Direction:</dt>
  <dd><%= @session.wind_direction %></dd> 

  <dt>Ambient Before:</dt>
  <dd><%= @session.ambient_before %></dd> 
</dl>

<h1>Readings</h1>

<div data-controller='input' data-input-session_id="<%= @session.id %>" data-input-refresh-interval='50000'>
  <table class="todo__items"  data-js="todoItems" data-target="input.table">
    <thead>
      <th>Number</th>
      <th>Readings</th>
      <th>Class</th>
    </thead>
    <tbody data-target="input.tableBody">
      <% @session.readings.each do |reading| %>
	<tr data-target="input.tableRow" id="<%= reading.number %>" data-updated_at="<%= reading.updated_at.to_i %>">
	  <td data-name="number" ><%= reading.number %></td>
	  <td data-name="readings" ><%= reading.readings %></td>
	  <td data-name="car_class" ><%= reading.car_class %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
  <form action="" method="POST" data-js="todoForm" >
    <ul>
      <li>
	<label>Number</label>
	<input type="number" name="number" placeholder="042" data-action="keypress->input#form" data-target='input.number input.input' required />
      </li>
      <li>
	<label>Reading</label>
	<input type="number"  name="readings" placeholder="042" data-action="keypress->input#form" data-target='input.input input.reading' />
      </li>
      <li>
	<label>Class</label>
	<input type="text"  name="car_class" placeholder="042" data-action="keypress->input#form" data-target='input.input' />
      </li>
    </ul>
  </form>
</div>

<dl>
  <dt>Reader:</dt>
  <dd><%= @session.reader %></dd>

  <dt>Recorder:</dt>
  <dd><%= @session.recorder %></dd>

  <dt>Site Certification Date</dt>
  <dd><%= @session.group.event.site_cert_date %></dd>

  <dt>Meter Factory Calibration Date:</dt>
  <dd><%= @session.group.event.meter_factory_calibration_date %></dd>

  <dt>Field Calibration Time:</dt>
  <dd><%= @session.field_calibration_time %></dd>

  <dt>Battery Level:</dt>
  <dd><%= @session.battery_level %></dd>

  <dt>Microphone Location:</dt>
  <dd><%= @session.group.event.microphone_location %></dd>

</dl>

<%= link_to 'Create Reading', new_reading_path(session: @session.id) %>

<p>
  <strong>Group:</strong>
  <%= link_to @session.group.name, group_path(@session.group.id) %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
