<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <p>Comma seperated list</p>
  <div class="field">
    <%= form.label :car_classes %>
    <%= form.text_field :car_classes %>
  </div>

  <% if group.event_id.nil? %>
    <div class="field">
      <%= form.label :event_id %>
      <%= form.text_field :event_id %>
    </div>
  <% else %>
    <%= form.hidden_field :event_id %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
