<p id="notice"><%= notice %></p>

<p>
  <h1>Group:</h1>
  <%= @group.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= link_to(@group.event.name, event_path(@group.event)) %>
</p>

<h2>Sessions</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.sessions.each do |row| %>
      <tr>
        <td><%= link_to row.name, session_path(row) %></td>
        <td><%= link_to 'Edit', edit_session_path(row) %></td>
        <td><%= link_to 'Destroy', row, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Session', new_session_path(group: @group.id) %> |
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
