<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :track %>
    <%= form.text_field :track %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region %>
  </div>

  <div class="field">
    <%= form.label :site_certification_date %>
    <%= date_select :event, :site_cert_date, start_year: Date.today.year - 20 %>
  </div>

  <div class="field">
    <%= form.label :meter_factory_calibration_date %>
    <%= date_select :event, :meter_factory_calibration_date, start_year: Date.today.year - 20 %>
  </div>

  <div class="field">
    <%= form.label :microphone_location %>
    <%= form.text_field :microphone_location  %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, size: '30x10' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
