<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if report.session_id.nil? %>
  <div class="field">
    <%= form.label :session_id %>
    <%= form.text_field :session_id %>
  </div>
<% else %>
    <%= form.hidden_field :session_id %>
<% end %>

  <div class="field">
    <%= form.label :classes %>
    <%= form.text_field :classes %>
  </div>

  <div class="field">
    <%= form.label :ambient_before %>
    <%= form.text_field :ambient_before %>
  </div>

  <div class="field">
    <%= form.label :wind_direction %>
    <%= form.text_field :wind_direction %>
  </div>

  <div class="field">
    <%= form.label :wind_speed %>
    <%= form.text_field :wind_speed %>
  </div>

  <div class="field">
    <%= form.label :weather %>
    <%= form.text_field :weather %>
  </div>

  <div class="field">
    <%= form.label :temp %>
    <%= form.text_field :temp %>
  </div>

  <div class="field">
    <%= form.label :humidity %>
    <%= form.text_field :humidity %>
  </div>

  <div class="field">
    <%= form.label :barometer %>
    <%= form.text_field :barometer %>
  </div>

  <div class="field">
    <%= form.label :reader %>
    <%= form.text_field :reader %>
  </div>

  <div class="field">
    <%= form.label :recorder %>
    <%= form.text_field :recorder %>
  </div>

  <div class="field">
    <%= form.label :site_certification_date %>
    <%= form.date_select :site_certification_date %>
  </div>

  <div class="field">
    <%= form.label :microphone_location %>
    <%= form.text_field :microphone_location %>
  </div>

  <div class="field">
    <%= form.label :field_calibration_time %>
    <%= form.text_field :field_calibration_time %>
  </div>

  <div class="field">
    <%= form.label :battery_level %>
    <%= form.text_field :battery_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
