<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @report.id %>
</p>

<p>
  <strong>Classes:</strong>
  <%= @report.classes %>
</p>

<p>
  <strong>Ambient before:</strong>
  <%= @report.ambient_before %>
</p>

<p>
  <strong>Wind direction:</strong>
  <%= @report.wind_direction %>
</p>

<p>
  <strong>Wind speed:</strong>
  <%= @report.wind_speed %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @report.weather %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @report.temp %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @report.humidity %>
</p>

<p>
  <strong>Barometer:</strong>
  <%= @report.barometer %>
</p>

  <div data-controller='input'>
    <table data-target="input.table">
      <th>Number</th>
      <th>Readings</th>
      <th>Class</th>
      <tbody>
      </tbody>
    </table>
    <form action="" method="POST" >
        <ul>
          <li>
            <label>Number</label>
            <input  type="number" name="number" placeholder="042" data-action="keypress->input#form" data-target='input.number input.input' required />
          </li>
          <li>
            <label>Reading</label>
            <input  type="number"  name="reading" placeholder="042" data-action="keypress->input#form" data-target='input.input' />
          </li>
          <li>
            <label>Class</label>
            <input  type="text"  name="class" placeholder="042" data-action="keypress->input#form" data-target='input.input' />
          </li>
        </ul>
    </form>
  </div>

<p>
  <strong>Reader:</strong>
  <%= @report.reader %>
</p>

<p>
  <strong>Recorder:</strong>
  <%= @report.recorder %>
</p>

<p>
  <strong>Field calibration time:</strong>
  <%= @report.field_calibration_time %>
</p>

<p>
  <strong>Battery level:</strong>
  <%= @report.battery_level %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
