<!DOCTYPE html>
<html>
  <head>
    <title>RaceRecords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <h1><%= self.params['controller'] if RaceRecords::Application.config.env == 'development' %> <%= self.params['action'] if RaceRecords::Application.config.env == 'development' %></h1>
    <%= yield %>
  </body>
</html>
